<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    {% block title %}
    {% endblock %}
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type='text/javascript' src={% static 'js/jquery-1.11.1.min.js' %}></script>
    <script type='text/javascript' src={% static 'js/find_check_box_jquery.js'%}></script>
    <script type='text/javascript' src={% static 'js/go_details.js'%}></script>
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar(){
            window.scrollTo(0,1);
        }
    </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <link href="{% static 'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/etalage.css' %}">
    <script type="text/javascript" src={% static 'js/megamenu.js' %}></script>
    <script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
    <script src={% static "js/jquery.etalage.min.js"%}></script>
    <script src={% static 'js/menu_jquery.js' %}></script>
    <script src={% static 'js/simpleCart.min.js' %}> </script>
    <script>
            jQuery(document).ready(function($){

                $('#etalage').etalage({
                    thumb_image_width: 700,
                    thumb_image_height: 500,
                    source_image_width: 900,
                    source_image_height: 1200,
                    show_hint: true,
                    click_callback: function(image_anchor, instance_id){
                        alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                    }
                });

            });
        </script>
</head>
<body>
<!-- header_top -->
<div class="top_bg">
    <div class="container">
        <div class="header_top">
            <div class="top_right">
                <ul>
                    <li><a href="#">帮助</a></li>
                    |
                    <li><a href="{% url 'user_register' %}">商户注册</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- header -->
<div class="header_bg">
    <div class="container">
        <div class="header">
            <div class="head-t">
                <div class="logo">
                    <a href="{% url 'show_index' %}">
                        <img src={% static 'images/logo.png' %} class="img-responsive" alt=""/>
                    </a>
                </div>
                <!-- start header_right -->
                <div class="header_right">
                    <div class="rgt-bottom">
                        <div class="log">
                            <div class="login" >
                                <div id="loginContainer"><a href="#" id="loginButton"><span>登录</span></a>
                                    <div id="loginBox">
                                        <form id="loginForm">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <fieldset id="body">
                                                <fieldset>
                                                    <label for="tel">账号</label>
                                                    <input type="tel" name="user_id" id="email">
                                                </fieldset>
                                                <fieldset>
                                                    <label for="password">密码</label>
                                                    <input type="password" name="user_password" id="password">
                                                </fieldset>
                                                <input type="submit" id="login" value="登录">
                                                <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                                            </fieldset>
                                            <span><a href="#">忘记密码?</a></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
{#                        <div id="loginContainer">#}
{#                            <a href="#" id="loginButton">#}
{#                                <span>#}
{#                                注册#}
{#                                </span>#}
{#                            </a>#}
{#                        </div>#}
                        <div class="reg">
                            <a href={% url 'user_register' %}><span>注册</span></a>
                        </div>
                        <div class="cart box_1">
                            <a href="checkout.html">
                                <h3>
                                    <!-- <span class="simpleCart_total">
                                        ¥0.00
                                    </span> -->
                                    <span id="simpleCart_quantity" class="simpleCart_quantity">
                                        0
                                    </span>
                                    个收藏
                                    <img src={% static 'images/bag.png' %} alt="">
                                </h3>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">(清空收藏夹)</a></p>
                            <div class="clearfix"> </div>
                        </div>
                        <!-- <div class="create_btn">
                            <a href="checkout.html">结算</a>
                        </div> -->
                        <div class="clearfix"> </div>
                    </div>
                    <!-- <div class="search">
                        <form>
                            <input type="text" value="" placeholder="搜索...">
                            <input type="submit" value="">
                        </form>
                    </div> -->
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>

            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li class="active grid"><a class="color1" href="{% url 'show_index' %}">主页</a></li>
                <li class="grid"><a class="color2" href="#">品牌</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">

                                    <h4>女装</h4>
                                    <ul class='brand_colum'>
                                        <li><a href="women.html">欧时力</a></li>
                                        <li><a href="women.html" >江南布衣</a></li>
                                        <li><a href="women.html" >自然元素</a></li>
                                        <li><a href="women.html" >Five Plus </a></li>
                                        <li><a href="women.html" >曼妮芬</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>男装</h4>
                                    <ul class="brand_colum">
                                        <li><a href="women.html" >鄂尔多斯</a></li>
                                        <li><a href="women.html" >袋鼠</a></li>
                                        <li><a href="women.html" >普顿</a></li>
                                        <li><a href="women.html" >GAP</a></li>
                                        <li><a href="women.html" >佳伦士</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>童装</h4>
                                    <ul class="brand_colum">
                                        <li><a href="women.html" >巴布豆</a></li>
                                        <li><a href="women.html" >安奈儿</a></li>
                                        <li><a href="women.html" >好孩子</a></li>
                                        <li><a href="women.html" >史努比</a></li>
                                        <li><a href="women.html" >加菲猫</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>配饰</h4>
                                    <ul class="brand_colum">
                                        <li><a href="women.html" >迪奥</a></li>
                                        <li><a href="women.html" >诺贝达</a></li>
                                        <li><a href="women.html" >习朗</a></li>
                                        <li><a href="women.html" >罗西尼</a></li>
                                        <li><a href="women.html" >纪梵希</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>化妆品</h4>
                                    <ul class="brand_colum">
                                        <li><a href="women.html" >屈臣氏</a></li>
                                        <li><a href="women.html" >兰蔻</a></li>
                                        <li><a href="women.html" >雅诗兰黛</a></li>
                                        <li><a href="women.html" >自然堂</a></li>
                                        <li><a href="women.html" >玉兰油</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>鞋帽</h4>
                                    <ul class="brand_colum">
                                        <li><a href="women.html" >百思图</a></li>
                                        <li><a href="women.html" >千百度</a></li>
                                        <li><a href="women.html" >卡曼尼</a></li>
                                        <li><a href="women.html" >杰西卡</a></li>
                                        <li><a href="women.html" >卓诗尼</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li><a class="color4" href="#">商场 </a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>朝阳区</h4>
                                    <ul class="address_colum">
                                        <li><a href="women.html" >晨曦名品折扣</a></li>
                                        <li><a href="women.html" >银泰中心</a></li>
                                        <li><a href="women.html" >SOHO尚都</a></li>
                                        <li><a href="women.html" >朝阳大悦城</a></li>
                                        <li><a href="women.html" >久隆百货</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>海淀区</h4>
                                    <ul class="address_colum">
                                        <li><a href="women.html" >津乐汇时尚百货</a></li>
                                        <li><a href="women.html" >新中关购物中心</a></li>
                                        <li><a href="women.html" >欧美汇购物中心</a></li>
                                        <li><a href="women.html" >凯德MALL翠微路</a></li>
                                        <li><a href="women.html" >双安商场</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>西城区</h4>
                                    <ul class="address_colum">
                                        <li><a href="women.html" >汉光百货</a></li>
                                        <li><a href="women.html" >西单商场</a></li>
                                        <li><a href="women.html" >北京君太百货</a></li>
                                        <li><a href="women.html" >西单大悦城</a></li>
                                        <li><a href="women.html" >枫蓝国际购物中心</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>东城区</h4>
                                    <ul class="address_colum">
                                        <li><a href="#">东方新天地</a></li>
                                        <li><a href="register.html">晨曦百货</a></li>
                                        <li><a href="women.html" >三里屯VILLAGE</a></li>
                                        <li><a href="women.html" >银座MALL</a></li>
                                        <li><a href="women.html" >三友商城</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>丰台区</h4>
                                    <ul class="address_colum">
                                        <li><a href="women.html" >资和信百货</a></li>
                                        <li><a href="women.html" >恒源商厦</a></li>
                                        <li><a href="women.html" >方庄购物中心</a></li>
                                        <li><a href="women.html" >华联商厦</a></li>
                                        <li><a href="women.html" >久隆百货</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>昌平区</h4>
                                    <ul class="address_colum">
                                        <li><a href="women.html" >龙德广场</a></li>
                                        <li><a href="women.html" >国泰百货天通苑店</a></li>
                                        <li><a href="women.html" >阳光商厦</a></li>
                                        <li><a href="women.html" >华联商厦</a></li>
                                        <li><a href="women.html" >昌平新世纪商城</a></li>
                                        <li><a href="women.html" >MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li>
                <a class="color5" href="#">折扣</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>清仓狂甩，折扣降到底</h4>
                                    <!-- <h4 class="discount_colum"><a href="women.html">1-2折</a><h4> -->
                                    <ul class="discount_colum">
                                        <li><a href="women.html">2 折以下</a></li>
                                        <!-- <li><a href="women.html">2 ~ 4 折</a></li> -->
                                    </ul>
                                </div>
                            </div>

                            <!-- new  start add by luo -->
                            <div class="col2">
                                <div class="h_nav">
                                    <h4>今日优惠，折扣大力度</h4>
                                    <!-- <h4 class="discount_colum"><a href="women.html">1-2折</a><h4> -->
                                    <ul class="discount_colum">
                                        <li><a href="women.html">4 折以下</a></li>
                                        <li><a href="women.html">6 折以下</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col2">
                                <div class="h_nav">
                                    <h4>新品上市，折扣依然有</h4>
                                    <!-- <h4 class="discount_colum"><a href="women.html">1-2折</a><h4> -->
                                    <ul class="discount_colum">
                                        <li><a href="women.html">8 折以下</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end start add by luo -->

                            <!-- new  start add by luo -->
                            <!-- <div class="col1">
                                <h4 class="discount_colum"><a href="women.html" >3-4折</a><h4>
                            </div>
                            <div class="col1">
                                <h4 class="discount_colum"><a href="women.html" >5-6折</a><h4>
                            </div>
                            <div class="col1">
                                <h4 class="discount_colum"><a href="women.html" >7-8折</a><h4>
                            </div>
                            <div class="col1">
                               <h4 class="discount_colum"><a href="women.html" >9-10折</a><h4>
                            </div> -->
                            <!-- new  end add by luo -->

                            <!-- <div class="col2">
                                <div class="h_nav">
                                    <h4><a href="women.html" class="discount_colum">3-4折</a></h4>
                                    <ul>
                                        <li class="discount_colum"><a href="women.html">女装</a></li>
                                        <li><a href="women.html">男装</a></li>
                                        <li><a href="women.html">童装</a></li>
                                        <li><a href="women.html">配饰</a></li>
                                        <li><a href="women.html">化妆品</a></li>
                                        <li><a href="women.html">鞋帽</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="h_nav">
                                    <h4><a href="women.html" class="discount_colum">5-6折</a></h4>
                                    <ul>
                                        <li><a href="women.html">女装</a></li>
                                        <li><a href="women.html">男装</a></li>
                                        <li><a href="women.html">童装</a></li>
                                        <li><a href="women.html">配饰</a></li>
                                        <li><a href="women.html">化妆品</a></li>
                                        <li><a href="women.html">鞋帽</a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="women.html" class="discount_colum">7折</a></h4>
                                    <ul>
                                        <li><a href="#">女装</a></li>
                                        <li><a href="register.html">男装</a></li>
                                        <li><a href="women.html">童装</a></li>
                                        <li><a href="women.html">配饰</a></li>
                                        <li><a href="women.html">化妆品</a></li>
                                        <li><a href="women.html">鞋帽</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="women.html" class="discount_colum">8折</a></h4>
                                    <ul>
                                        <li><a href="women.html">女装</a></li>
                                        <li><a href="women.html">男装</a></li>
                                        <li><a href="women.html">童装</a></li>
                                        <li><a href="women.html">配饰</a></li>
                                        <li><a href="women.html">化妆品</a></li>
                                        <li><a href="women.html">鞋帽</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="women.html" class="discount_colum">9折</a></h4>
                                    <ul>
                                        <li><a href="women.html">女装</a></li>
                                        <li><a href="women.html">男装</a></li>
                                        <li><a href="women.html">童装</a></li>
                                        <li><a href="women.html">配饰</a></li>
                                        <li><a href="women.html">化妆品</a></li>
                                        <li><a href="women.html">鞋帽</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div> -->
                    </div>
                </li>
                <li><a class="color6" href="reconmendation.html">推荐</a>
                    <!-- <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Clothing</h4>
                                    <ul>
                                        <li><a href="women.html">new arrivals</a></li>
                                        <li><a href="women.html">men</a></li>
                                        <li><a href="women.html">women</a></li>
                                        <li><a href="women.html">accessories</a></li>
                                        <li><a href="women.html">kids</a></li>
                                        <li><a href="women.html">brands</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>kids</h4>
                                    <ul>
                                        <li><a href="women.html">Pools&Tees</a></li>
                                        <li><a href="women.html">shirts</a></li>
                                        <li><a href="women.html">shorts</a></li>
                                        <li><a href="women.html">twinsets</a></li>
                                        <li><a href="women.html">kurts</a></li>
                                        <li><a href="women.html">jackets</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Bags</h4>
                                    <ul>
                                        <li><a href="women.html">Handbag</a></li>
                                        <li><a href="women.html">Slingbags</a></li>
                                        <li><a href="women.html">Clutches</a></li>
                                        <li><a href="women.html">Totes</a></li>
                                        <li><a href="women.html">Wallets</a></li>
                                        <li><a href="women.html">Laptopbags</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>account</h4>
                                    <ul>
                                        <li><a href="#">login</a></li>
                                        <li><a href="register.html">create an account</a></li>
                                        <li><a href="women.html">create wishlist</a></li>
                                        <li><a href="women.html">my shopping bag</a></li>
                                        <li><a href="women.html">brands</a></li>
                                        <li><a href="women.html">create wishlist</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Accessories</h4>
                                    <ul>
                                        <li><a href="women.html">Belts</a></li>
                                        <li><a href="women.html">Pens</a></li>
                                        <li><a href="women.html">Eyeglasses</a></li>
                                        <li><a href="women.html">accessories</a></li>
                                        <li><a href="women.html">Watches</a></li>
                                        <li><a href="women.html">Jewellery</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>Footwear</h4>
                                    <ul>
                                        <li><a href="women.html">new arrivals</a></li>
                                        <li><a href="women.html">men</a></li>
                                        <li><a href="women.html">women</a></li>
                                        <li><a href="women.html">accessories</a></li>
                                        <li><a href="women.html">kids</a></li>
                                        <li><a href="women.html">style videos</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div> -->
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    {% block content %}

    {% endblock %}
</div>
<div class="foot-top">
    <div class="container">
        <div class="col-md-6 s-c">
            <li>
                <div class="fooll">
                    <h5>关注我们</h5>
                </div>
            </li>
            <li>
                <div class="social-ic">
                    <ul>
                        <li><a href="#"><i class="facebok"> </i></a></li>
                        <li><a href="#"><i class="twiter"> </i></a></li>
                        <li><a href="#"><i class="goog"> </i></a></li>
                        <li><a href="#"><i class="be"> </i></a></li>
                        <li><a href="#"><i class="pp"> </i></a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </li>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 s-c">
            <div class="stay">
                <div class="stay-left">
                    <form>
                        <input type="text" placeholder="输入你的邮箱以便加入我们的时事快讯" required="">
                    </form>
                </div>
                <div class="btn-1">
                    <form>
                        <input type="submit" value="加入">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="col-md-3 cust">
            <h4>购物指南</h4>
            <li><a href="#">帮助中心</a></li>
            <li><a href="#">常见问题</a></li>
            <li><a href="buy.html">如何购买</a></li>
            <li><a href="#">物流</a></li>
        </div>
        <div class="col-md-2 abt">
            <h4>关于我们</h4>
            <li><a href="#">我们的故事</a></li>
            <li><a href="#">快递</a></li>
            <li><a href="#">职业</a></li>
            <li><a href="contact.html">联系方式</a></li>
        </div>
        <div class="col-md-2 myac">
            <h4>我的账户</h4>
            <li><a href="register.html">注册</a></li>
            <li><a href="#">我的购物车</a></li>
            <li><a href="#">所有订单</a></li>
            <li><a href="buy.html">付款</a></li>
        </div>
        <div class="col-md-5 our-st">
            <div class="our-left">
                <h4>商店</h4>
            </div>
            <div class="our-left1">
                <div class="cr_btn">
                    <a href="#">SOLO</a>
                </div>
            </div>
            <div class="our-left1">
                <div class="cr_btn1">
                    <a href="#">BOGOR</a>
                </div>
            </div>
            <div class="clearfix"> </div>
            <li><i class="add"> </i>Beijing Normal University,No.19,Waida Jie,Xinjie Kou,Haiding District,Beijing</li>
            <li><i class="phone"> </i>010-2839341</li>
            <li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>

        </div>
    </div>
</div>
</body>
</html>