{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Women</title>
{% endblock %}

{% block content %}
<div class="special">
	<div class="container">
		<h3>服装</h3>
		<div class="specia-top">
			<ul class="grid_2">
		<li>
				<a href="details.html"><img src="/static/images/服装1.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>SANDRO</strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>Sandro以典雅别致的法式时尚服饰设计见称，简约、优雅，也不乏可爱和复古。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
				</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/服装2.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>VERO MODA</strong></h5>
					<div class="item_add"><span class="item_price">
					<h6>VERO MODA在精致优雅的主调之中又有实用主义风格，为都市女性提供多元选择。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/服装3.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong><span lang="en" xml:lang="en">梦特娇</span></strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>梦特娇代表着法式优雅、顶尖技术、一流质量与现代时尚，凭一系列男士服饰为人所知。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/服装4.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>LEVI'S</strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>LEVI'S象征着美国野性、刚毅、叛逆的精神，是时装和牛仔裤的领导品牌。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
				</div>
		</li>
		<!-- <div class="clearfix"> </div> -->
	</ul>
		</div>
	</div>
</div>
<div class="special">
	<div class="container">
		<h3>配饰</h3>
		<div class="specia-top">
			<ul class="grid_2">
		<li>
				<a href="details.html"><img src="/static/images/配饰1.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>Tiffany</strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>Tiffany一直将设计富有惊世之美的原创作品视为宗旨,不迎合流行时尚，而凌驾潮流之上。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
				</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/配饰2.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>Pandora</strong></h5>
					<div class="item_add"><span class="item_price">
					<h6>Pandora以美丽的方式捕捉生命中的难忘时刻，打造出美轮美奂、工艺精湛的珠宝。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/配饰3.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong><span lang="en" xml:lang="en">Les Nereides</span></strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>Les Nereides的设计中充满童心，可以感受到梦想与时尚交织结合的能量。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/配饰4.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>卡西欧</strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>卡西欧手表代表的活力、年轻、时尚、多功能的品牌形象已深入民心。
</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
				</div>
		</li>
		<!-- <div class="clearfix"> </div> -->
	</ul>
		</div>
	</div>
</div>
<div class="special">
	<div class="container">
		<h3>化妆品</h3>
		<div class="specia-top">
			<ul class="grid_2">
		<li>
				<a href="details.html"><img src="/static/images/化妆品11.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>雅诗兰黛</strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>雅诗兰黛将生活品位和时尚敏感融入品牌，以领先科技卓越功效著称。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
				</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/化妆品22.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>欧莱雅</strong></h5>
					<div class="item_add"><span class="item_price">
					<h6>欧莱雅是一个充满法兰西情怀的品牌，给消费者带来的是‘触手可及的奢华。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/化妆品33.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong><span lang="en" xml:lang="en">兰蔻</span></strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>兰蔻的时尚又不失亲和力，活泼又有足够内涵，是一支来自法国古堡的玫瑰。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="/static/images/化妆品44.jpg" class="img-responsive" alt=""></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5><strong>SK-II</strong></h5>
					<div class="item_add"><span class="item_price">
				  <h6>SK-II一直以简约的风格、高雅气质和一流品质著称，特别切合亚洲女性的肌肤特质。</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">收藏</a></span></div>
				</div>
		</li>
		<!-- <div class="clearfix"> </div> -->
	</ul>
		</div>
	</div>
{% endblock %}